---
import ContractForm from "./contract_form";
---

<section style="color:var(--secondary-color); overflow: hidden;">
    <div class="container-default" style="margin-top: 7rem !important;">
        <div class="contact-form">
            <h2 style="text-align:Center">
                Wanna <strong>Start Work</strong>
                With Me?
            </h2>
            <div class="grid sm:grid-cols-2 grid-cols-1 mt-5 space-x-5">
                <div class="order-2 mt-6 sm:mt-0 sm:order-1">
                    <h4>Get In Touch</h4>
                    <ContractForm client:idle/>
                </div>
                <div class="order-1 sm:order-2">
                    <div class="">My Contact Details</div>

                    <div id="contact" class="mt-4">
                        <div class="contact-info">
                            <span>Email :</span>
                            <br /> 
                            <a href="mailto:abudr963rahman@gmail.com">abudr963rahman@gmail.com</a>
                            <div class="mt-5">
                                <span>Socials :</span>
                            
                                <div class="mt-2">
                                    <a href="#" title="Facebook" class="inputs">facebook</a>
                                    <a href="#" title="Twitter" class="inputs">twitter</a>
                                    <a href="#" title="Linkedin" class="inputs">linkedin</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .row {
        display: flex;
    }
</style>
