.header_root {
  width: 100%;
  height: 10vh;
  min-height: 52px;
  max-height: 150px;
  display: flex;
  align-items: center;
  box-shadow: -1.46px 4.78px 7px black;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.brand-name {
  display: inline-block;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 20px;
  color: var(--secondary-color);
  text-decoration: none;
}
.navbar-btn {
  display: inline-block;
}
