---
import CommentsList from "./comments_list";
import { PostComment } from "./post_comment";
import "./comments_section.css";

interface Props {
    blog_slug: string;
}

const { blog_slug } = Astro.props;
---

<div class="aside_component_comment" id="comment_section">
    <div class="text-left text-xl mb-3 font-medium">
        <h3>Comments</h3>
    </div>
    <div class="mb-12 border-t border-gray-600">
        <PostComment client:load blog_slug={blog_slug} />
    </div>

    <CommentsList client:load />
</div>
<br />
