---
import styles from "./about.module.css";
import AuthorPhoto from "../author_photo/author_photo.astro";
import classNames from "classnames";
import AboutInteractive from "./about_interactive";
import { authorInfoStore } from "../../stores/author_info";

export interface Props {
  class?: string;
  children?: React.ReactNode;
}
const className = Astro.props.class;
const author = authorInfoStore.get();

---

<div class={classNames(styles["container-default"], styles.root, className)}>
  <AuthorPhoto/>
  <div class={styles["author-info"]}>
    <p class={styles["author-name"]}>
      <span>Hi,</span>
      <br />i am <span class="capitalize">{author.username}</span>
    </p>
    <p class={styles["author-job-title"]}>
      {author.about_sort}
    </p>
    <p>
      {author.about}
    </p>
    <AboutInteractive client:idle resume_link={author.cv_url} className="mt-4"/>
  </div>
</div>
