---
import styles from "./about.module.css";
import AuthorPhoto from "../author_photo/author_photo.astro";
import classNames from "classnames";
import AboutInteractive from "./about_interactive";

export interface Props {
  class?: string;
  children?: React.ReactNode;
}
const className = Astro.props.class;
---

<div class={classNames(styles["container-default"], styles.root, className)}>
  <AuthorPhoto/>
  <div class={styles["author-info"]}>
    <p class={styles["author-name"]}>
      <span>Hi,</span>
      <br />i am <span>Tumzied</span>
    </p>
    <p class={styles["author-job-title"]}>
      Software Engineer at Enosis Solution
    </p>
    <p>
      I mostly do frontend and backend development; love to work with newer
      technology and keen to learn more about AI-related development
    </p>
    <AboutInteractive client:idle/>
  </div>
</div>
