---
import Layout from "../layouts/Layout.astro";
---


<Layout title="blogs-tumzied">
    <section class="grid grid-cols-1 md:grid-cols-3">
       <main class="md:col-span-2 border border-b-0 border-l-0 min-h-screen">
            <div class="w-4/5 mx-auto">
                blogs main section

            </div>
       </main>
       <aside class="border border-b-0 border-x-0">
            aside
       </aside>
    </section>
</Layout>

<style>
    section{
        color: var(--secondary-color);
    }
</style>