---
import "./blogs_slider.scss";
import { BlogsList } from "../../interfaces";
import configs from "../../configs.json"

export interface Props {
    data: BlogsList;
}

const { data } = Astro.props;
---

<article class="blogArticle">
    <div class="wrapper-blogArticle">
        <header>
            <h3>{data.title}</h3>
        </header>
        <main class="blogsMain">
            <p>{data.shortDescription}</p>
        </main>
        <footer>
            <a href={'/blogs/'+data.slug}>View more</a>
        </footer>
    </div>
</article>
