---

---
<div id="button_container" class="w-full relative m-auto">

    <div id="button-grp" class="border border-white p-2 button-grp rounded-full">
        <button class="ml-2 text-red-500"><i class="fa-solid fa-heart shadow-xl"></i></button>
    </div>
    
</div>
<style>
.button-grp{
    position: fixed;
    top: 90vh;
    background-color: rgba(0, 0, 0, 0.776);
    width: 250px;
    left: 37%;
    transform: translateX(calc(-100% + 125px));
}


@media only screen and (max-width: 768px) {
    .button-grp{
        left: 35%;
    
    }
}

@media only screen and (max-width: 767px) {
    .button-grp{
        left: 50%;
    
    }
}

</style>

<script>

</script>